services:
  redis:
    image: redis:alpine
    container_name: uniorien-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command:
      [
        "redis-server",
        "--requirepass",
        "${REDIS_PASSWORD}",
        "--appendonly",
        "yes"
      ]
    env_file:
      - .env
    restart: unless-stopped

volumes:
  redis_data:
